# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Environment
.env
.env.*

# Virtual environments
venv/
deployment/venv/

# Deployment packages
deployment/package/
deployment/lambda_function.zip

# Logs
*.log

# IDEs
.vscode/
.idea/ 